<div class='route-modal'><br />
  <div style='text-align: center;'>
    <Ui::Button @onClick={{this.back}} @title='Закрыть' />
  </div>
  {{#if this.tree}}

    <div class='columns is-centered recepie-tree__columns'>
      <div class='column recepie-tree__column'>
        <Ui::RecepieTree::Level @data={{this.tree}} />
      </div>
    </div>
  {{/if}}

</div>