<Ui::Recepie
  @data={{@data.recepie}}
  @multy={{@data.count}}
  class='recepie-tree__recepie'
  @no-fit={{true}}
/>
{{#if @data.childs.length}}
  <div class='columns recepie-tree__columns' style='max-width: 100vw;'>
    {{#each @data.childs as |item|}}
      <div class='column recepie-tree__column'>
        <Ui::RecepieTree::Level @data={{item}} />
      </div>
    {{/each}}
  </div>
{{/if}}
{{!-- {{#let (recepie @id) as |rec|}}
  <Ui::Recepie
{{/let}} --}}