@import "bulma";

.test {
  background: red;
}

html {
  background-color: gray;
}


.route-modal {
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  z-index: 100;
}

.chevron {
  position: relative;
  &::after {
    border: 3px solid white;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    margin-top: -0.2375em;
    pointer-events: none;
    position: absolute;
    top: 50%;

    transform: rotate(-131deg);
    transform-origin: center;
    width: 0.625em;
  }

  &_open {
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.spoiler {
  &__heading {
    display: flex;
    cursor: pointer;

    &_close-fix {
      border-radius: 6px;
    }
  }
  &__title {
    flex-grow: 1
  }


  &__action {
    display: flex;
    justify-content: center;
    padding: 1rem;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}

.recepie-tree {
  &__columns {
    flex-wrap: nowrap;
    display: flex
  }

  &__column {
    padding-top: 50px;
    flex-grow: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 34px;
      width: 100%;
      background: rgb(74, 99, 156);
      height: 1px
    }



    &:first-child {
      &:before {
        width: 50%;
        right: 0
      }
    }
    &:last-child {
      &:before {
        width: 50%;
        left: 0
      }
    }
    &:first-child:last-child {
      &:before {
        width: 0;
      }
    }
  }

  &__recepie {
    max-width: 300px;
    min-width: 300px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -23px;
      height: 19px;
      background: grey;
      width: 1px;
      left: 50%
    }

    &::before {
      content: '';
      position: absolute;
      top: -16px;
      height: 13px;
      background: grey;
      width: 1px;
      left: 50%
    }

    &:last-child {
      &::after {
        background: transparent
      }
    }
  }
}


@import "_simple-modules";
